:root {
    --bg-color: linear-gradient(90deg, rgba(0, 18, 255, 1) 0%, rgba(0, 3, 46, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(42, 0, 72, 1) 168%, rgba(140, 0, 240, 1) 134%);
    --fonts: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
    background-color: #4900C4;
    border-radius: 10px;
    width: 10px;
}

::-webkit-scrollbar-button {
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    background: #23abd4;
    border-radius: 10px;
}

*::after,
*::before,
body,
html {
    position: relative;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

input {
    outline: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: var(--bg-color);
    font-family: var(--fonts);
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}

.container {
    width: 1120px;
    margin: 0 auto;
}

.header {
    padding: 20px 0;
}

.nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_list_icon,
.nav_list {
    display: flex;
    gap: 20px;
}

.nav_list_icon {
    align-items: center;

}

.icon-ins,
.icon-teleg {
    width: 20px;
    height: 20px;
    padding: 5px;
    background: #cccccc9a;
    border-radius: 10px;
    transition: all .3s;
}

.icon-ins:hover {
    fill: orangered;
    box-shadow: 0 0 20px orangered;
    filter: contrast(130%);
    transition: all .3s;
}

.icon-teleg:hover {
    fill: rgb(65, 65, 224);
    box-shadow: 0 0 20px rgb(65, 65, 224);
    transition: all .3s;
}

.nav_list_icon-item-text {
    display: flex;
}

.text-item {
    width: 100px;
    white-space: wrap;
}

.nav_list {
    font-size: 18px;
}

.nav_list-item {
    position: relative;
}

.nav_list-link {
    padding: 5px 0;
    transition: all 0.4s ease-in-out;
}

.nav_list-link::before {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    bottom: 5px;
    left: 0;
    bottom: -3px;
    z-index: 0;
    position: absolute;
    background: #23abd4;
    transition: all 0.4s ease-in-out;
}

.nav_list-link:hover::before {
    width: 100%;
}

.nav_list-link-tel {
    font-weight: 700;
}

.img-logo {
    width: 200px;
    height: 30px;
    fill: #fff;
    box-shadow: 0 0 10px #fff;
}

.main {
    flex-grow: 1;
}

.top {
    padding: 50px 0;
}

.top_content-list {
    display: grid;
    width: 650px;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.top_content-item {
    display: flex;
    align-items: center;
    width: 300px;
    gap: 20px;
}

.top_content-svg {
    width: 50px;
    height: 50px;
}

.top_content-group {
    background-color: #944AFF;
    padding: 20px;
    width: 800px;
    height: 460px;
    border-radius: 10px;
    box-shadow: 0 0 15px #944AFF;
}

.top_content-text {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    opacity: .6;
    letter-spacing: 3px;
}

.top_content-title {
    text-transform: uppercase;
    white-space: wrap;
    font-size: 32px;
    margin-bottom: 20px;
    width: 640px;
    line-height: 1.24;
}

.top_content-title span {
    color: #4900C4;
    text-shadow: 0 0 20px #EA95FF;
}

.top_content-text-bottom {
    width: 350px;
    margin-bottom: 20px;
    font-weight: 700;
}

.top_content-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 260px;
    height: 40px;
    padding: 10px 15px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 5px;
    color: #000;
    background-color: #FFC044;
    box-shadow: 0 30px 100px #FFC044;
    transition: all .4s;

}

.top_content-link:hover {
    transform: scale(1.06);
    box-shadow: 0 0 15px #FFC044;
    transition: all .4s;
}

.result_content {
    padding: 60px 0;
}

.result_cart {
    width: 700px;
    padding: 20px;
    background-color: #4900C4;
    border-radius: 10px;
    box-shadow: 0 0 20px #4900C4;
}

.result_title {
    width: 600px;
    margin: 0 auto 100px;
    font-size: 30px;
}

.result_cart-title {
    font-size: 50px;
    padding: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.title-two {
    font-size: 45px;
}

.result_group {
    display: flex;
    gap: 15px;
}

.task_list,
.price-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.price-list {
    width: 300px;
}

.circulation {
    width: 150px;
}

.circulation b {
    font-size: 30px;
}

.task_title {
    margin-bottom: 10px;
}

.task_title {
    font-size: 25px;
}

.task-text {
    opacity: .8;
    width: 400px;
}

.two {
    margin: 70px 0 70px auto;
    margin-top: 50px;
}

.result_cart-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.result_cart-content-one {
    display: flex;
    flex-direction: row-reverse;
}

.result_cart-one-img,
.result_cart-two-img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px #fff;
}


.result_cart-two-img {
    transform: rotate3d(2, 1, -2, 45deg);
    float: left;

}

.result_cart-one-img {
    float: right;
    transform: rotate3d(2, -1, -2, -45deg);

}

.mySwiper {
    width: 100%;
    height: 500px;
    box-shadow: 0 0 25px rgba(33, 0, 255, 1), 0 0 50px rgba(243, 0, 255, 1);
}

swiper-slide {
    background-color: rgba(0, 0, 0, .7);
}

.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 123%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.swiper-slide-group {
    margin: 0 auto;
    width: 1000px;
    padding: 20px 40px;
}

.title {
    opacity: .5;
    margin-bottom: 15px;
}

.subtitle {
    font-size: 36px;
    margin-bottom: 76px;
}

.text {
    font-size: 20px;
}

.blue {
    margin: 20px 0 20px;
    color: #23abd4;
    font-weight: 700;
}



.reasons {
    padding: 100px 0;
}

.reasons-title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
}

.descript {
    font-size: 25px;
    text-align: center;
    margin-bottom: 150px;
}

.reasons_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 30px;
    justify-content: center;
    width: 600px;
    margin: 0 auto;
}

.reasons_list-item {
    display: flex;
    align-items: center;
    gap: 25px;
}

.gaps {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.reasons_list-img {
    width: 95px;
    height: 95px;
    filter: drop-shadow(0 0 10px #fff);
}

.reasons_list-text {
    font-size: 30px;
    width: 400px;
}

.team {
    padding: 100px 0;
}

.team_cart {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 30px;
}

.team_cart-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 0px 5px rgba(0, 38, 255, 0.5);
}


.team_cart-title {
    font-size: 35px;
    margin-bottom: 10px;
}

.team_cart-spec {
    font-size: 18px;
    color: #23abd4;
    margin-bottom: 25px;
}

.team_cart-text {
    font-size: 16px;
}


.sect-form {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sect-form-title,
.helps-title {
    margin-bottom: 100px;
    font-size: 30px;
    text-align: center;
}

.forms {}

.group-name,
.group-business {
    position: relative;
}

.label-inp {
    position: absolute;
    top: 10%;
    left: 3%;
    z-index: 2;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
    transition: all .4s;

}

.first_name,
.telephone,
.business-inp {
    width: 500px;
    height: 50px;
    padding: 5px 10px;
    margin-bottom: 25px;
    border-radius: 10px;
    color: #fff;
    font: 16px;
    background-color: #330033;
    border: none;
    transition: all .4s;

}

.first_name:focus,
.telephone:focus,
.business-inp:focus {
    box-shadow: 0 0 20px #944AFF;
}

.first_name:focus ~ .label-inp,
.business-inp:focus ~ .label-inp {
    top: -20%;
    padding: 5px 10px;
    color: #000;
    background-color: rgba(243, 0, 255, 1);
    box-shadow: 0 0 10px #EA95FF;
    transition: all .4s;
}

.form_submit {
    display: block;
    width: 250px;
    height: 50px;
    margin: 0 auto;
    padding: 0;
    font-weight: 700;
    letter-spacing: 5px;
    border: none;
    border-radius: 10px;
    background-color: #FFC044;
    transition: all .4s;
}

.form_submit:hover {
    transform: scale(1.05);
    transition: all .4s;
    box-shadow: 0 0 20px #FFC044;
}

.footer {
    height: 100px;
}


.modal_thank {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 300px;
    color: #fff;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    font-family: var(--fonts);
    background-color: #4900C4;
    border-radius: 10px;
    box-shadow: 0 0 50px #944AFF;
    transform: translate(-50%, -50%);
    z-index: 200;
}

.modal_thank-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal_thank-title {
    margin-bottom: 50px;
}

.modal_thank-text {
    width: 300px;
    text-align: center;
    margin: 0 auto;
}

.modal-close {
    position: relative;
    top: 4px;
    left: 215px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .3s;

}

.modal-close:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 3px red);
    transition: all .3s;
}